<script type="text/ng-template" id="typeahead-item.html">
	<div class="typeahead-group-header" ng-if="match.model.firstInGroup">Desc {{match.model.group}}</div>
	<a>
		<span ng-bind-html="match.label | typeaheadHighlight:query"></span>
	</a>
</script>
<input type="text" class="form-control" placeholder="Users loaded from local database"
	   ng-model="selectedUser"
	   typeahead="user as user.name for user in getUsers($viewValue)"
	   typeahead-template-url="typeahead-item.html" />
<pre>{{selectedUser | json}}</pre>