<div>
    <h4>Contact Us</h4>
    <div class="row">
        <div class="col-md-12">
            <div>
                <form class="form-horizontal">

                        <div class="form-group" ng-init="contact.email = 'Support@SeekNShop.io'">

                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    <input name="name" ng-model="contact.email" type="text" class="form-control">
                                </div>

                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-text bigicon"></i></span>
                            <div class="col-md-8">
                                <input  name="subject" ng-model="subject" type="text" placeholder="Subject" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input class="form-control" type="text" ng-model="message" placeholder="Enter your message for us here. We will get back to you within 2 business days.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-lg" ng-click="sendMail()" >Submit</button>
                            </div>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>