<div class="simpleDemo small-left-padding">
    <h4>Facet Configuration
        <a tooltip="Configure the facets to be shown per category" tooltip-placement="right" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign info-icon"></a>
    </h4>

    <div class="no-left-padding">
        <label for="sel1">Category</label>
        <div>
            <select class="form-control" id="categoryDropdown" ng-model="selectedCategory" ng-options="item for item in categories" style="width: 400px">
            </select>
        </div>
    </div>
    <div class="small-top-padding">
        <div class="row">
            <div ng-repeat="(listName, list) in models.lists" class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List {{listName}}</h3>
                    </div>
                    <div class="panel-body">
                        <ul dnd-list="list">
                            <li ng-repeat="item in list"
                                dnd-draggable="item"
                                dnd-moved="list.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-selected="models.selected = item"
                                ng-class="{'selected': models.selected === item}">
                                {{item.label}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-1">   <button type="button" class="btn btn-info" ng-click="updateFacetConfig()">Update Selection</button></div>

        </div>

        <div view-source="simple"></div>

    </div>


</div>