<div class="small-left-padding">
	<div>
		<h4>Query to URL Redirect
			<a tooltip="add help text" tooltip-placement="right" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign info-icon"></a>
		</h4>

		<div>
			<button type="button" class="btn btn-primary"
				ng-click="openAddLinks = !openAddLinks">Add</button>
		</div>
		<div ng-init="openAddLinks = false" ng-show="openAddLinks">
			<form role="form">
				<div class="small-top-padding large-bottom-padding">
					<div class="col-xs-3 no-left-padding">
						<input class="form-control" placeholder = "Keyword"
							ng-model="key" id="key" type="text">
					</div>
					<div class="col-xs-4">
						<input class="form-control" placeholder = "Links"
							ng-model="links" id="links" type="text">
					</div>
					<div class="col-xs-3">
						<button type="button" class="btn btn-primary"
							ng-click="addLinks()">Save</button>
					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="small-top-padding">
		<table class="table">
			<tr>
				<th class="no-border" style="width:35px">Keyword</th>
				<th class="no-border">Links</th>
			</tr>
			<tr ng-repeat="(key, values) in concatenatedLinks">
				<td title="'Key'">{{key}}</td>
                <td title="'Links'">
                    <span class="displayLink">{{values}}</span>
                    <input class="editLink" ng-model="values">
                </td>
                <td>
                    <a show-link-edit data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a data-toggle="tooltip" ng-click="deleteLink(key)" title="Delete"><span class="glyphicon glyphicon-trash small-left-padding"></span></a>
                    <button ng-click="updateLink(key,values)" type="button" class="btn btn-primary btn-xs small-left-margin saveLink">Save</button>
                </td>
			</tr>
		</table>
	</div>
</div>
