<div class="container">
    <div class="row">
        <div class="form_bg">
            <form>
                <h4 class="text-center">SeekNShop.IO Search Configuration Panel</h4>
                <h4 class="text-center">Login to SeekNShop.IO</h4>
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="User Name" ng-model="companyName">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="password">
                </div>
                <br/>
                <div class="align-center">
                    <button type="submit" class="btn btn-default" ng-click="validateLogin()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>