<div>
	<h3>Add Synonyms</h3>
	<form role="form">
		<div class="form-group">
			<div class="col-xs-3">
				<label for="key">Key</label> <input class="form-control" ng-model="key" id="key" type="text">
			</div>
			<div class="col-xs-4">
				<label for="synonym">Synonyms</label> <input class="form-control" ng-model="synonyms" id="synonym" type="text">
			</div>
			<div class="col-xs-4">
				<button type="button" class="btn btn-primary" ng-click="addSynonyms()">Add</button>
			</div>
		</div>
	</form>
</div>