<div class="">
    <div class="col-xs-12 header-height">
        <div class="col-xs-8 header">
            <div class="col-xs-4">
                <h3 class="small-top-margin no-bottom-margin">
                    <!--<p class="small-top-margin no-bottom-margin">-->
                    SeekNShop.IO
                    <!--</p>-->
                </h3>
                <p>
                    Merchandizing Config Panel
                </p>

            </div>
            <div class="col-xs-4">
                <img ng-src="{{logourl}}" alt="logo" class="very-small-top-margin logo-margin" width="110" height="42">
            </div>


        </div>

        <ul class="nav navbar-nav top-nav navbar-right pull-xs-right header-nav-bar">
            <li class="dropdown nav-item active">
                <!-- <div class="dropdown"> -->
                <a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownMenu4" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope"/>
                    <b class="caret"/>
                    <span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="dropdown-item message-preview">
                        <a href="javascript:;">
                            <div class="media">
						<span class="media-left">
							<!--<img class="media-object" src="http://placehold.it/50x50" alt="">-->
							</span>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <strong>No unread Emails</strong>
                                    </h5>
                                    <!--<p class="small text-muted">-->
                                    <!--<i class="fa fa-clock-o"/> Yesterday at 4:32 PM</p>-->
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--<li class="dropdown-item message-footer">
                        <a href="javascript:;">Read All New Messages</a>
                    </li>-->
                </ul>
                <!-- </div> -->
            </li>
            <li class="dropdown nav-item">
                <!-- <div class="dropdown"> -->
                <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-bell"/>
                    <b class="caret"/>
                    <span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu alert-dropdown">
                    <li class="dropdown-item">
                        <a href="javascript:;"><span class="glyphicon glyphicon-asterisk notify"></span>
                            <span class="notifiy-text">New synonyms have been added</span>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:;"><span class="glyphicon glyphicon-asterisk notify"></span>
                            <span class="notifiy-text">
                            New Noise words have been added</span>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:;"><span class="glyphicon glyphicon-asterisk notify"></span>
                            <span class="notifiy-text">New Queries to redirect have been added</span>
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:;"><span class="glyphicon glyphicon-asterisk notify"></span>
                            <span class="notifiy-text">Precesion settings have been changes</span>
                        </a>
                    </li>
                    <li class="divider"/>
                    <li class="dropdown-item">
                        <a ui-sref="panel.viewnotifications">View All</a>
                    </li>
                </ul>
                <!-- </div> -->
            </li>
            <li class="dropdown nav-item">
                <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user "/> Admin <b class="caret"/>
                </a>
                <ul class="dropdown-menu">
                    <!--<li class="dropdown-item">
                        <a href="javascript:;">
                            <i class="fa fa-fw fa-user"/> Profile</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:;">
                            <i class="fa fa-fw fa-envelope"/> Inbox</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:;">
                            <i class="fa fa-fw fa-gear"/> Settings</a>
                    </li>
                    <li class="divider"/>-->
                    <li class="dropdown-item">
                        <a ui-sref="login"><i class="fa fa-fw fa-power-off"/> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="no-padding">


        <div class="sidebar col-xs-2 no-padding" data-background-color="white" data-active-color="danger">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li ui-sref-active="active">
                        <a ui-sref="panel.dashboard">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="panel.settings.synonym">
                            <i class="fa fa-fw fa-wrench"></i>
                            <p>Relevance Settings</p>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="panel.merchandising.link">
                            <i class="fa fa-fw fa-edit"></i>
                            <p>Search Merchandising</p>
                        </a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="panel.analytics">
                            <i class="fa fa-fw fa-bar-chart-o"></i>
                            <p>Analytics</p>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="panel.autosuggest">
                            <i class="ti-zoom-in"></i>
                            <p>Auto Suggest</p>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="panel.contactus">
                            <i class="ti-mobile"></i>
                            <p>Contact Support</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel col-xs-10 no-padding" app-sizer>
            <div class="content">
                <div class="container-fluid">
                    <div class="small-left-padding" ui-view></div>
                </div>
            </div>

        </div>
    </div>
</div>
