<div class="small-left-padding">
    <div>
        <h4>
            Precision Configuration
            <a tooltip="Configure for high precision per category. Max precision percentage recommended is 30%"
               tooltip-placement="right" tooltip-append-to-body="true"
               class="glyphicon glyphicon-info-sign info-icon"></a>
        </h4>
        <div>
            <form role="form">
                <div class="small-top-padding large-bottom-padding">
                    <div class="col-xs-3 no-left-padding">
                        <label for="sel1">Category</label>
                        <select class="form-control" id="categoryDropdown" ng-model="selectedCategory"
                                ng-options="item for item in categories" ng-change="updatePrecisionDropDown()">

                        </select>
                    </div>
                    <div class="col-xs-3">
                        <label for="sel3">Precision(%)</label>
                        <input class="form-control" placeholder="Enter precision percentage" ng-model="rankValue"
                               id="rank" type="text" id="sel3">
                    </div>

                    <div class="col-xs-3">
                        </br>
                        <div>
                            <button type="button" class="btn btn-primary very-small-top-margin"
                                    ng-click="savePrecisionConfigs()">Apply
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table class="table">
                <tr>
                    <th class="no-border">Category</th>
                    <th class="no-border">Precision(%)</th>
                    <th class="no-border">Actions</th>
                </tr>
                <tr ng-repeat="(category, precision) in precisionMap">
                    <td title="'Category'">{{category}}</td>
                    <td title="'Precision'">
                        <span class="displaySynonym">{{precision}}</span>
                        <input class="editSynonym" ng-model="precision">
                    </td>
                    <td>
                        <a show-synonym-edit data-toggle="tooltip" title="Edit"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a data-toggle="tooltip" ng-click="deletePrecision(category)" title="Delete"><span
                                class="glyphicon glyphicon-trash small-left-padding"></span></a>
                        <button ng-click="updatePrecision(category,precision)" type="button"
                                class="btn btn-primary btn-xs small-left-margin saveSynonym">Save
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 font-size-small">
            *Enter precision percentage per category. Ensure max precision is 30%
        </div>
    </div>
</div>

