<div class="small-left-padding">
    <div>
        <h4>Rank By Product
            <a tooltip="add help text" tooltip-placement="right" tooltip-append-to-body="true"
               class="glyphicon glyphicon-info-sign info-icon"></a>
        </h4>
        <div>
            <form role="form">
                <div class="small-top-padding large-bottom-padding">
                    <div class="col-xs-3 no-left-padding">
                        <div class="form-group">
                            <label for="sel1">Category</label>
                            <select class="form-control" id="categoryDropdown" ng-model="selectedCategory" ng-options="item for item in categories">
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-xs-3">
						<div class="form-group">
							<label for="sel2">Sub Category</label>
							<select class="form-control" id="sel2">
								<option>Select</option>
								<option>Mobile</option>
							</select>
						</div>
					</div>-->
                    <div class="col-xs-3">
                        <label for="sel3">Product Id</label>
                        <input class="form-control" placeholder="Enter Product Id" ng-model="key" id="key" type="text"
                               id="sel3">
                    </div>
                    <div class="col-xs-3">
                        </br>
                        <button type="button" class="btn btn-primary very-small-top-margin" ng-click="filter(key)"
                                id="sel4">Search
                        </button>
                        <img ng-show="showSpinner" ng-src="images/spinner.gif"
                             class="small-left-margin small-top-margin spinner"/>
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xs-12 font-size-small">
        *Search for the product by Product Id to set the rank
    </div>

    <div class="small-top-padding" ng-show="filteredResults.length">
        <table class="table" ng-init="showEdit = true; showSaveCancel = false;">
            <tr>
                <th class="no-border col-xs-1">Product Id</th>
                <th class="no-border col-xs-3">Category</th>
                <th class="no-border col-xs-3">Title</th>
                <th class="no-border col-xs-1">Rank</th>
                <th class="no-border col-xs-2"></th>
            </tr>
            <tr ng-repeat="result in filteredResults">
                <td>{{result.pid}}</td>
                <td>{{result.category}}</td>
                <td>{{result.title}}</td>
                <td>
                    <span ng-show="!showSaveCancel">{{result.rank}}</span>
                    <input ng-show="showSaveCancel" class="form-control" ng-model="result.rank" type="text">
                </td>
                <td>
                    <span><a ng-show="showEdit" ng-click="showEdit = false; showSaveCancel= true;" class="hand"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    </span>
                    <span><a ng-show="showSaveCancel"
                             ng-click="updateDetails(result.pid);showSaveCancel = false; showEdit= true;"
                             class="hand"><span class="glyphicon glyphicon-ok small-top-margin"></span></a>
                    </span>
                    <span><a ng-show="showSaveCancel" ng-click="showSaveCancel = false; showEdit= true;"
                             class="hand"><span class="glyphicon glyphicon-remove small-left-margin"></span></a>
                    </span>
                </td>
            </tr>
        </table>
    </div>


</div>