<div class="small-left-padding">
    <div>
        <h4>Rank by Keyword
            <a tooltip="add help text" tooltip-placement="right" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign info-icon"></a>
        </h4>
        <div>
            <form role="form">
                <div class="small-top-padding large-bottom-padding">
                    <div class="col-xs-3 no-left-padding">
                        <label for="sel3">Keyword</label>
                        <input class="form-control" placeholder="Enter search keyword" ng-model="key" id="key" type="text" id="sel3">
                    </div>
                    <div class="col-xs-3">
                        </br>
                        <button type="button" class="btn btn-primary very-small-top-margin" ng-click="filterByKey(key);" id="sel4">Search</button>
                        <img ng-show="showSpinner" ng-src="images/spinner.gif" class="small-left-margin small-top-margin spinner" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class=" col-xs-10 font-size-small">
        *Search a product by any related keyword to set the rank
    </div>

    <div class="small-top-padding " ng-show="filteredResults.length ">
        <table class="table " ng-init="showEdit=true; showSaveCancel=false; ">
            <tr>
                <th class="no-border col-xs-1 ">Product Id</th>
                <th class="no-border col-xs-3 ">Category</th>
                <th class="no-border col-xs-3 ">Title</th>
                <th class="no-border col-xs-1 ">Rank</th>
                <th class="no-border col-xs-2 "></th>
            </tr>
            <tr ng-repeat="result in filteredResults ">
                <td>{{result.pid}}</td>
                <td>{{result.category}}</td>
                <td>{{result.title}}</td>
                <td>
                    <span ng-show="!showSaveCancel ">{{result.rank}}</span>
                    <input ng-show="showSaveCancel " class="form-control " ng-model="result.rank " type="text ">
                </td>
                <td>
                    <span><a ng-show="showEdit" ng-click="showEdit = false; showSaveCancel= true;" class="hand"><span class="glyphicon glyphicon-pencil"></span></a>
                    </span>
                    <span><a ng-show="showSaveCancel" ng-click="updateDetails(result.pid,result.rank);showSaveCancel = false; showEdit= true;" class="hand"><span class="glyphicon glyphicon-ok small-top-margin"></span></a>
                    </span>
                    <span><a ng-show="showSaveCancel" ng-click="showSaveCancel = false; showEdit= true;" class="hand"><span class="glyphicon glyphicon-remove small-left-margin"></span></a>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-10 medium-left-padding " ng-show="filteredResults.length==0 ">
        <h3>No products for the given keyword! </h3>
    </div>
    <!--<div class="small-top-padding">
        <table class="table">
            <tr>
                <th class="no-border">Product Id</th>
                <th class="no-border">Rank</th>
                <th class="no-border">Actions</th>
            </tr>
            <tr ng-repeat="(key, values) in concatenatedSynonyms">
                <td title="'Key'">{{key}}</td>
                <td title="'Synonyms'">
                    <span class="displaySynonym">{{values}}</span>
                    <input class="editSynonym" ng-model="values">
                </td>
                <td>
                    <a show-synonym-edit data-toggle="tooltip" title="Edit"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <a data-toggle="tooltip" ng-click="deleteSynonym(key)" title="Delete"><span
                            class="glyphicon glyphicon-trash small-left-padding"></span></a>
                    <button ng-click="updateSynonym(key,values)" type="button"
                            class="btn btn-primary btn-xs small-left-margin saveSynonym">Save
                    </button>
                </td>
            </tr>
        </table>
    </div>-->
</div>