
<div class="small-left-padding">
	<div>
		<div>
			<h4>Synonyms
				<a tooltip="Configure alternative keywords using Synonyms" tooltip-placement="right" tooltip-append-to-body="true" class="glyphicon glyphicon-info-sign info-icon"></a>
			</h4>

		</div>

		<div>
			<button type="button" class="btn btn-primary" ng-click="openAddSynonym = !openAddSynonym">Add</button>
		</div>
		<div ng-init="openAddSynonym = false" ng-show="openAddSynonym">
			<form name="form">
				<div class="small-top-padding large-bottom-padding">
					<div class="col-xs-3 no-left-padding">
						<input class="form-control" placeholder = "Keyword"
							   ng-model="key" id="key" type="text" >
					</div>
					<div class="col-xs-4">
						<input class="form-control form-group" placeholder = "Synonyms" bs-has-error=""
							   ng-model="synonyms" id="synonym" type="text" >
					</div>
					<div class="col-xs-3">
						<button type="button" class="btn btn-primary"
								ng-click="addSynonyms()" >Save</button>
					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="small-top-padding">
		<table class="table">
			<tr>
				<th class="no-border">Keyword</th>
				<th class="no-border">Synonyms</th>
				<th class="no-border">Actions</th>
			</tr>
			<tr ng-repeat="(key, values) in concatenatedSynonyms">
				<td title="'Key'">{{key}}</td>
				<td title="'Synonyms'">
					<span class="displaySynonym">{{values}}</span>
					<input class="editSynonym" ng-model="values">
				</td>
				<td>
					<a show-synonym-edit data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
					<a data-toggle="tooltip" ng-click="deleteSynonym(key)" title="Delete"><span class="glyphicon glyphicon-trash small-left-padding"></span></a>
					<button ng-click="updateSynonym(key,values)" type="button" class="btn btn-primary btn-xs small-left-margin saveSynonym">Save</button>
				</td>
			</tr>
		</table>
	</div>

</div>

