<div>
    <h4>Notifications</h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info text-align-message">
            New Noise words have been added
            <br>
            <p class="small text-muted text-align-time"><i class="fa fa-clock-o"></i> Updated 2 days ago</p>
        </li>
        <li class="list-group-item list-group-item-warning text-align-message">
            New synonyms have been added
            <br>
            <p class="small text-muted text-align-time"><i class="fa fa-clock-o"></i> Updated yesterday</p>
        </li>
        <li class="list-group-item list-group-item-info text-align-message">
            Precision settings have been changed
            <br>
            <p class="small text-muted text-align-time"><i class="fa fa-clock-o"></i> Updated 4 days ago</p>
        </li>
        <li class="list-group-item list-group-item-warning text-align-message">
            New Queries to redirect have been added
            <br>
            <p class="small text-muted text-align-time text-align-message"><i class="fa fa-clock-o"></i> Updated 4 days ago</p>
        </li>
    </ul>
</div>