html,
body {
    height: 100%;
}

.container-fluid {
    height: inherit;
    padding: 0px;
    margin: 0px;
}

.sidenav {
    background-color: rgb(0, 70, 79);
    border-right: 1px solid beige;
    margin: 0px;
}

.app-name {
    background-color: white;
    height: 5%;
}

.app-name>h2 {
    margin: 0px;
    padding: 2px 2px 2px 10px;
}

.app-title-container {
    background-color: white;
}

.app-title {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px !important;
    color: white;
    background-color: #222222 !important;
}


.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.panel-heading {
    border-radius: 3px;
}

.panel-group {
    padding-left: 10px;
    padding-right: 10px;
}

.small-right-padding {
    padding-right: 5px;
}

.small-left-padding {
    padding-left: 5px;
}

.medium-left-padding {
    padding-left: 15px;
}

.large-left-padding {
    padding-left: 25px;
}

.medium-top-padding {
    padding-top: 25px;
}

.medium-bottom-padding {
    padding-bottom: 25px;
}

.large-bottom-padding {
    padding-bottom: 35px;
}

.small-top-padding {
    padding-top: 10px;
}

.very-small-top-margin {
    margin-top: 5px !important;
}

.small-top-margin {
    margin-top: 10px !important;
}

.small-left-margin {
    margin-left: 5px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-padding{
    padding : 0 !important;
}

.sidebar-wrapper .panel-heading:hover {
    background-color: rgba(126, 169, 39, 0.3);
    border-left: 5px solid #7ea927;
}

.panel-body a {
    color: white;
}

.panel-body a:hover {
    color: #008B8B;
    text-decoration: blink;
}

.panel-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-item:hover>i {
    color: #008B8B;
}

.no-border {
    border: none !important;
}

html,
body {
    height: 100%;
}

.container-fluid {
    height: inherit;
    padding: 0px;
    margin: 0px;
}

.app-name {
    background-color: white;
    height: 5%;
}

.app-name>h2 {
    margin: 0px;
    padding: 2px 2px 2px 10px;
}

.app-title-container {
    background-color: white;
}

.app-title {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: bold;
    font-size: medium;
}


.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.panel-heading {
    border-radius: 3px;
}

.panel-group {
    padding-left: 10px;
    padding-right: 10px;
}

.small-right-padding {
    padding-right: 5px;
}

.small-left-padding {
    padding-left: 5px;
}

.small-left-margin {
    margin-left: 5px;
}

.medium-left-margin {
    margin-left: 15px;
}

.large-left-margin {
    margin-left: 30px;
}

.small-top-margin {
    margin-top: 5px;
}

.medium-top-margin {
    margin-top: 10px;
}

.medium-top-padding {
    padding-top: 25px;
}

.medium-bottom-padding {
    padding-bottom: 25px;
}

.medium-left-padding {
    padding-left: 25px;
}

.small-bottom-padding {
    padding-bottom: 10px;
}

.large-bottom-padding {
    padding-bottom: 35px;
}

.small-top-padding {
    padding-top: 10px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-bottom-margin {
    margin-bottom: 0px;
}


.no-top-bottom-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.sidebar-wrapper .panel-heading:hover {
    background-color: #7ea927;
       border-left: 5px solid #7ea927;
}

.info-icon{
    font-size: 14px;
        text-decoration: none;
}

.info-icon:hover{
        text-decoration: none;
}

.panel-body a {
     color: #337ab7;
}

.panel-body a:hover {
    color: #265CAB;
    text-decoration: blink;
}

.panel-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-item:hover>i {
    color: #265CAB;
}

.no-border {
    border: none !important;
}

.editSynonym,
.editLink,
.editSpelling {
    display: none;
    width: 70%;
}

.displaySynonym,
.displayLink,
.displaySpelling {
    display: block;
}

.saveSynonym,
.saveLink,
.saveSpelling {
    display: none;
}

.hidden {
    display: none;
}

.white-background {
    background-color: white;
}

.scrollVertical {
    overflow-y: auto !important;
}

.hand {
    cursor: pointer;
    cursor: hand;
}

.spinner {
    height: 25px;
    width: 25px;
}

.logo, .sidebar-wrapper a{
color: white;
}

.sidebar-wrapper{
    background-color: #29a0a9;
}


.sidebar-wrapper li.active{
    background-color: #0D6989;
    color: white;
}

.sidebar-wrapper li.active a{
      color: white !important;
      background-color: #0D6989;
}

.sidebar-wrapper a:hover{
    color: #0D6989 !important;
    zoom: 1;
}


.header{
   height: 45px;
   background-color: #29a0a9;
   color: white;
   padding-left: 0px;
}

.header-height{
padding-left: 0px;
  height: 59px;
}

body{
   background-color: #29a0a9;
    overflow: hidden;
}

.logoimg{
    display: inline-block;
    height: 50px;
    width: 200px;
    float : left;
    margin-left : 10px;
 }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        background-color: #0D6989;
        color: white;
}



.panel-body{
  border-bottom: 5px solid lightgrey;
  background-color: #f5f5f0;
}

.pull-right{
float : right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-panel {
  background:  #f5f5f0;
  overflow: auto;
  }

.auto-suggest {
    color: black;
}

.list-group {
    padding-left: 40px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #0D6989;
    border: none;
    font-size: 13px;
}

.BrandContainer
{
    width: 22em;
}
.BrandContainerTitle
{
    vertical-align: top;
    float: left;
    width: 10em;
}
.BrandContainerImage
{
    vertical-align: top;
    float: right;
}
.BrandContainerImage img
{
    width: 10em;
    margin-top: -100px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {

    border: 3px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.form_bg {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}
.align-center {
    text-align:center;
}

.font-size-small{
font-size:10px;
left: -10px;
}

.header-nav-bar a{
    color: white !important;
}

.header-nav-bar a:hover{
    color: #0D6989 !important;
    background-color: white !important;
}


.header-nav-bar.nav .open>a, .header-nav-bar.nav .open>a:focus, .header-nav-bar.nav .open>a:hover{
background-color: #0D6989 !important;
}

.header-nav-bar.nav .open>a:hover{
    color: white !important;
}


.pull-left{
    float: left;
}

.header-nav-bar .dropdown-item a{
    color : black !important;
}

.toggle-btn-prop{
         width: 59px;
         height: 32px;
}


.checkbox label .toggle,
.checkbox-inline .toggle {
  margin-left: -20px;
  margin-right: 5px;
}

.toggle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.toggle-group {
  position: absolute;
  width: 200%;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.35s;
  -webkit-transition: left 0.35s;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.toggle.off .toggle-group {
  left: -100%;
}
.toggle-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0;
}
.toggle-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}
.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  width: 0px;
  border-width: 0 1px;
}

/*.toggle.btn { min-width: 59px; min-height: 34px; }*/
.toggle-on.btn { padding-right: 24px; }
.toggle-off.btn { padding-left: 24px; }

.toggle.btn-lg { min-width: 79px; min-height: 45px; }
.toggle-on.btn-lg { padding-right: 31px; }
.toggle-off.btn-lg { padding-left: 31px; }
.toggle-handle.btn-lg { width: 40px; }

.toggle.btn-sm { min-width: 50px; min-height: 30px;}
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { min-width: 35px; min-height: 22px;}
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 5px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
}

.logo-margin{
    margin-left: 280px;
}

.form-horizontal .form-group {
     margin-right: -15px;
     margin-left: -220px;
     margin-top: 8px;
 }

 .bigicon {
     font-size: 22px !important;
     margin-left: 39px;
     margin-top: 4px;
 }

 .dropdown-menu{
     background: #f5f5f0 !important;
 }

 .sidebar .nav li > a {
     padding-left: 10px;
     padding-right: 25px;
 }
 .sidebar .nav i {
     font-size: 24px;
     float: left;
     margin-right: 15px;
     line-height: 30px;
     width: 30px;
     text-align: center;
 }

 .sidebar .nav p{
     margin: 0;
     line-height: 30px;
     font-size: 11px;
     font-weight: 600;
     text-transform: uppercase;
 }


.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem
}

.card-block {
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card>.list-group:first-child .list-group-item:first-child {
    border-radius: .25rem .25rem 0 0
}

.card>.list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 .25rem .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5
}

.card-footer:last-child {
    border-radius: 0 0 .25rem .25rem
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.card-primary-outline {
    background-color: transparent;
    border-color: #0275d8
}

.card-secondary-outline {
    background-color: transparent;
    border-color: #ccc
}

.card-info-outline {
    background-color: transparent;
    border-color: #5bc0de
}

.card-success-outline {
    background-color: transparent;
    border-color: #5cb85c
}

.card-warning-outline {
    background-color: transparent;
    border-color: #f0ad4e
}

.card-danger-outline {
    background-color: transparent;
    border-color: #d9534f
}

.card-inverse .card-footer,.card-inverse .card-header {
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.card-inverse .card-blockquote,.card-inverse .card-footer,.card-inverse .card-header,.card-inverse .card-title {
    color: #fff
}

.card-inverse .card-blockquote>footer,.card-inverse .card-link,.card-inverse .card-text {
    color: rgba(255,255,255,.65)
}

.card-inverse .card-link:focus,.card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: .25rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img-top {
    border-radius: .25rem .25rem 0 0
}

.card-img-bottom {
    border-radius: 0 0 .25rem .25rem
}

@media (min-width: 544px) {
    .card-deck {
        display:table;
        table-layout: fixed;
        border-spacing: 1.25rem 0
    }

    .card-deck .card {
        display: table-cell;
        width: 1%;
        vertical-align: top
    }

    .card-deck-wrapper {
        margin-right: -1.25rem;
        margin-left: -1.25rem
    }
}

@media (min-width: 544px) {
    .card-group {
        display:table;
        width: 100%;
        table-layout: fixed
    }

    .card-group .card {
        display: table-cell;
        vertical-align: top
    }

    .card-group .card+.card {
        margin-left: 0;
        border-left: 0
    }

    .card-group .card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0
    }

    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group .card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0
    }

    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }

    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0
    }

    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom,.card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0
    }
}

@media (min-width: 544px) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}


.card-green {
    border-color: #5cb85c;
}

.card-green > .card-header {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.card-green > a {
    color: #5cb85c;
}

.card-green > a:hover {
    color: #3d8b3d;
}

.card-red {
    border-color: #d9534f;
}

.card-red > .card-header {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.card-red > a {
    color: #d9534f;
}

.card-red > a:hover {
    color: #b52b27;
}

.card-yellow {
    border-color: #f0ad4e;
}

.card-yellow > .card-header {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.card-yellow > a {
    color: #f0ad4e;
}

.card-yellow > a:hover {
    color: #df8a13;
}

.bg-white {
    background: #fff;
}

.text-xs-right {
  text-align: right !important;
}


.highcharts-credits{
    display : none;
}